version: '3.6'

networks:
  traefik:
    external: true
  bridge:

services:
  http:
    image: nginx:1.17-alpine
    depends_on:
      - php-fpm
    networks:
      - traefik
      - bridge
    labels:
      - traefik.enable=true
      - traefik.frontend.rule=Host:topconnect.docker
      - traefik.docker.network=traefik
      - "traefik.http.routers.front-gpn-portal.rule=Host(`topconnect.docker`)"
    volumes:
      - .:/var/www
      - .docker/nginx/nginx.conf:/etc/nginx/nginx.conf:rw
      - .docker/nginx/conf.d:/etc/nginx/conf.d:rw

  php-fpm:
    build:
      context: .docker/php
      args:
        USER_ID: ${DOCKER_USER_UID}
        USER_NAME: ${DOCKER_USER_NAME}
        GROUP_ID: ${DOCKER_GROUP_ID}
    user: ${DOCKER_USER_NAME}
    extra_hosts:
      - host.docker.internal:${DOCKER_HOST_IP}
    depends_on:
      - mysql
    networks:
      - bridge
    volumes:
      - .:/var/www
      - ./.docker/php/php.ini:/usr/local/etc/php/php.ini

  mysql:
    build:
      context: .docker/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${WORKSPACE_TIMEZONE}
    volumes:
      - /mysql:/var/lib/mysql
      - .docker/mysql/initdb:/docker-entrypoint-initdb.d
    ports:
      - "${MYSQL_HOST_PORT}:3306"
    networks:
      - bridge