<a href="{{ path('admin_app_card_card_package_datapackagerecord_list', {'id': object.id}) }}" class="btn btn-sm btn-default" title="Пакеты">
    <i class="fa fa-list" aria-hidden="true"></i>
    Пакеты
</a>